POSTGRES_USER: postgres
POSTGRES_PASSWORD: password
POSTGRES_DB: matchit_db

GOOGLE_CLIENT_ID=              # REST API KEY
GOOGLE_CLIENT_SECRET=          # CLIENT SECRET
GOOGLE_REDIRICT_URI=http://localhost:8000/auth/google/callback

KAKAO_CLIENT_ID=              # REST API KEY
KAKAO_CLIENT_SECRET=          # CLIENT SECRET
KAKAO_REDIRICT_URI=http://localhost:8000/auth/kakao/callback

NAVER_CLIENT_ID=              # REST API KEY
NAVER_CLIENT_SECRET=          # CLIENT SECRET
NAVER_REDIRICT_URI=http://localhost:8000/auth/naver/callback